layout {
    pane
    pane size=1 borderless=true {
        plugin location="file:/home/azz/.config/zellij/zjstatus.wasm" {
            // hide_frame_for_single_pane "true"

            format_left  "{mode}#[fg=#a6e3a1,bg=#181825,bold] {session}#[bg=#181825] {tabs}"
            format_right "{command_user}#[fg=#424554,bg=#181825]@{command_hostname}{datetime}"
            format_space "#[bg=#181825]"

            mode_normal          "#[bg=#a6e3a1] "
            mode_tmux            "#[bg=#ffc387] "
            mode_default_to_mode "tmux"

            tab_normal               "#[fg=#6C7086,bg=#181825] {index} {name} {fullscreen_indicator}{sync_indicator}{floating_indicator}"
            tab_active               "#[fg=#9399B2,bg=#181825,bold,italic] {index} {name} {fullscreen_indicator}{sync_indicator}{floating_indicator}"
            tab_fullscreen_indicator "□ "
            tab_sync_indicator       "  "
            tab_floating_indicator   "󰉈 "

            command_user_command  "whoami"
            command_user_format   "#[fg=#6C7086,bg=#181825,italic]{stdout}"
            command_user_interval "60"

            command_hostname_command  "hostname"
            command_hostname_format   "#[fg=#6C7086,bg=#181825,italic]{stdout}"
            command_hostname_interval "60"

            datetime          "#[fg=#9399B2,bg=#181825] {format} "
            datetime_format   "%A, %d %b %Y %H:%M"
            datetime_timezone "Asia/Hong_Kong"
        }
    }
}
